/* Add CSS styling here */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

/*************************************/

	html{
        font-size:62.5%;
		max-width: 100%;
		
    }
    body{
        font-size:1.6rem;
        line-height:1.5;
        color:#4F4F4F; 
		font-family: Roboto Slab ;
		box-sizing: border-box;
		
	}

header {
	width: 100%;
	height: 20%;
	background-color: #789f9e;
	padding: 2rem;
}
        
    h1 {
        font-size:5rem;
		font-family: Roboto Slab ;
    }
nav a {
    text-decoration: none;
	padding: 0.4rem 2rem 0.4rem 2rem;
	border-radius: 0.6rem;
    margin: 0 1rem 0 1rem;
	border: 1px solid black;
}
section {
	width: 100%;
}

h2{
	font-size: 4rem;
	margin-top: 3rem;
	padding-bottom: 1rem;
	
}
.intro button {
	background-color: skyblue;
	border-radius: 0.6rem;
}	
.intro p{
	
text-align:  center;	
}

.pic img {
	
	margin-left: 12rem;
	margin-right:0;
	border-radius: 1rem;
}

.intro a{
	padding-bottom: 3rem;
}
.intro p {	
	padding-bottom: 3rem;

}
.intro {
	margin-right: 12rem;
	display: flex;
	flex-direction: column;
	align-items:center ;
}

.pic div {
	width: 48%;
	padding: 5rem 0 5rem 0;

}

.pic {
	display: flex;
	justify-content:center;
}


.projectImg {
	margin-left: 7rem;
	display: flex;
	flex-wrap: wrap;
}
.projectImg img{
	width: 20%;
	height: 18vh;
	padding: 1rem;
}

footer{

	padding-top: 3rem;
	padding-bottom: 5rem;
	margin-bottom: 0;
    text-align: center;
	background-color: cadetblue;
}
footer div {
	padding: 2rem;
}
footer a{
	text-decoration: none;
	border: 1px solid black;
	padding: 1rem;
	background-color: white;
	border-radius: 0.6rem;
	transition: 1s;

}

footer a:hover{
	background-color: lightsteelblue;
	padding:1rem 1.5rem 1rem 1.5rem;

}

